* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background-color: #fff;
}

.headerimage {
    width: 100%;
    background-size: auto;
    margin-top: 0;
    margin-right: 0;
}

.headingtext {
    background-color: #fff;
    width: 100%;
    padding-top: 10px;
}

.headingtext h1 {
    color: #502a3f;
    margin-top: 0;
    margin-left: 10px;
}

.headingtext h3 {
    color: #502a3f;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: 20px;
    padding-bottom: 10px;
}

.menybar {
    background-color: #502a3f;
    width: 100%;
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.menybar a {
    text-decoration: none;
    color: #fff;
}

.menybar li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

ul.menybar li.icon {
    display: none;
}

ul.menybar li a:hover {
    color: grey;
}

.container {
    margin: auto;
    margin-top: -40px;
    margin-left: 20px;
    position: relative;
    z-index: 10;
}

.contentcontainer {
    margin-top: -40px;
}

.problemcontainer {
    background-color: #fdfdfd;
    border: 1px solid #dd74a1;
    border-radius: 5px;
    width: calc(80% - 20px);
    margin-right: 20px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 5 0 5px grey;
}

.problemcontainer img {
    width: 50%;
    margin: 20px;
}

.problemcontainer p {
    margin: 20px;
}

.container > div {
    float: left;
    background-color: #fdfdfd;
    border: 1px solid #dd74a1;
    border-radius: 5px;
    width: calc(33% - 20px);
    margin-right: 20px;
    min-height: 300px;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 5 0 5px grey;
}

.container a {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media (max-width: 680px) {
    .container > div {
        width: 98%;
        float: none;
    }
}

@media screen and (max-width:680px) {
    ul.menybar li:not(: first-child) {
        display: none;
    }
    ul.menybar li.icon {
        float: right;
        display: inline-block;
    }
}

div.contentcontainer > div.problemcontainer > h1 {
    font-size: 175%;
    margin: 20px;
}

@media screen and (max-width:680px) {
    ul.menybar.responsiv {
        position: relative;
    }
    ul.menybar.responsiv li.icon {
        position: absolute;
        right: 0;
        top: 10px;
    }
    ul.menybar.responsiv li {
        float: none;
        display: inline;
    }
    ul.menybar.responsiv li a {
        display: block;
        text-align: center;
    }
}

ul#menubar.menybar li a.active {
    color: lightcoral;
}

.kek {
    display: inline-block;
    cursor: pointer;
}

.rad1,
.rad2,
.rad3 {
    width: calc(35px /2);
    height: calc(5px/2);
    background-color: white;
    margin: calc(6px/2) 0;
    transition: 0.4s;
}

.transform .rad1 {
    transform -webkit-transform: rotate(-45deg) translate(-4.5px, 3px);
    transform: rotate(-45deg) translate(-4.5px, 3px);
}

.transform .rad2 {
    opacity: 0;
}

.transform .rad3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
}